@charset "UTF-8";
body {
  background-color: #f5f5f5;
  font-family: Helvetica;
}

/* NAV */
.nav__container {
  height: 56px;
}
.nav__container .nav__form__container .form__search {
  width: 420px;
}
.nav__container .nav__form__container .search__button .search__hover:hover {
  background-color: rgba(40, 116, 166, 0.1) !important;
}

/* ASIDE1 */
.icon__null{
  width: 25px;
}
@media only screen and (min-width: 600px) {
  .aside-menu div aside:nth-of-type(1) .ctn-list-item .subtitle-other {
    margin-left: 2rem;
  }
  .aside-menu div aside:nth-of-type(1) .ctn-list-item .network-icon {
    margin: 1rem 2rem;
  }
  .aside-menu div aside:nth-of-type(1) .ctn-list-item .network-icon a {
    margin-left: 0.8rem;
  }
  .aside-menu div aside:nth-of-type(1) .ctn-list-item .network-icon a img {
    width: 30px;
  }
  .aside-menu div aside:nth-of-type(1) .ctn-list-item .network-icon a:nth-of-type(1) {
    margin-left: 0;
  }
  .aside-menu div aside:nth-of-type(1) .ctn-list-item .network-icon a:hover {
    background: #5e5ecc;
    border-radius: 100%;
  }
  .aside-menu div aside:nth-of-type(1) .ctn-list-item ul li {
    padding: 0.2rem;
  }
  .aside-menu div aside:nth-of-type(1) .ctn-list-item ul li:hover {
    background: #e6e6e6;
    text-decoration: underline;
    color: #5e5ecc !important;
  }
  .aside-menu div aside:nth-of-type(1) .ctn-list-item ul li a {
    color: #242425;
    padding-left: 1rem;
  }
  .aside-menu div aside:nth-of-type(1) .ctn-list-item ul li a:hover {
    color: #5e5ecc;
  }
}
/* FOOTER */
.footer__container {
  background-color: #e5e5e5;
}
.footer__container .footer__a {
  color: rgb(59, 73, 223);
}
.footer__container .footer_ul__container > li > a {
  font-size: 0.8rem;
  color: rgb(59, 73, 223);
}

/* MAIN */
.lista__footer {
  font-size: 12px;
  list-style-type: none;
}

.lista__footer li {
  margin-right: 15px;
  list-style-type: disc;
  display: inline-block;
}

.lista__footer li:before {
  content: " •  ";
  color: #999;
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}

.lista__footer li:first-child:before {
  content: "";
}

.lista__footer2 {
  font-size: 14px;
  list-style-type: none;
}

.lista__footer2 li {
  margin-right: 15px;
  list-style-type: disc;
  display: inline-block;
}

.lista__footer2 li:before {
  content: " •  ";
  color: #999;
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}

.lista__footer2 li:first-child:before {
  content: "";
}

.main__title__container {
  display: flex;
  height: 4rem;
  padding: 20px 20px 20px 5px;
  font-size: 18px;
}

.main__title__items {
  list-style: none;
  padding: 0;
}

.main__title__items li {
  display: inline;
  margin-right: 10px;
  color: #242323;
}

.main__title__selected {
  margin-left: 10px;
  font-weight: bold;
  color: black;
}

.poster {
  padding: 25px 0px 0px 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.post__info {
  margin: 0px;
  margin-left: 5px;
  line-height: 10px;
}

.post__photo {
  width: 32px;
  height: 32px;
}

.post__name {
  font-size: 14px;
  margin-bottom: 0px;
  color: #3d3d3d;
}

.post__date {
  margin-top: 0px;
  font-size: 12px;
  color: #525252;
}

.post__title {
  padding: 0px 25px 5px 57px;
  font-size: 30px;
  margin-bottom: 0px;
  color: #171717;
}

.post__prog__lang {
  font-size: 14px;
  height: 20px;
  width: auto;
  margin-top: 5px;
  padding: 0px 25px 5px 33px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.post__prog__lang button {
  font-size: 14px;
  height: 20px;
  width: auto;
  background-color: white;
  border: none;
  font-weight: 400;
  color: #404040;
}

.post__language {
  font-size: 14px;
  margin-left: 20px;
  flex-wrap: wrap;
}

.post__reactions {
  margin-top: 10px;
  font-size: 14px;
  flex-wrap: wrap;
  margin-left: 57px;
  height: 100%;
  justify-content: space-between;
  margin-right: 30px;
}

.post__reactions div {
  margin-right: 10px;
  margin-bottom: 10px;
}

.reactions__number {
  margin-left: 0px;
  font-size: 14px;
  color: #404040;
}

.comments__number {
  color: #404040;
}

.time__read {
  color: #404040;
}

.time__read i {
  color: #404040;
}

.post__reply {
  padding: 10px 0px 0px 28px;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}

.post__photo__reply {
  width: 24px;
  height: 24px;
}

.reply__box {
  background-color: rgb(245, 245, 245);
  margin-left: 5px;
  margin-right: 25px;
  padding: 15px 20px 0px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.reply__name {
  font-size: 14px;
  color: #3d3d3d;
  margin-bottom: 5px;
}

.reply__text p {
  color: #171717;
  font-size: 14px;
}

.reply__text {
  color: #171717;
  font-size: 14px;
}

.reply__see__more {
  margin-left: 58px;
  font-size: 14px;
  color: #3d3d3d;
}

.card {
  margin-bottom: 10px;
}

/* ASIDE 2 */
.text-dark.text-decoration-none:hover,
.listing__type:hover {
  color: blue;
}

.listing__type {
  font-size: 16px;
  color: black;
  text-decoration: none;
}
.listing__type .listing__type:hover {
  color: aliceblue;
}
.listing__type .listing__type:hover .comment__vinc:hover {
  color: black;
}

.comment__vinc {
  font-size: 14px;
  text-decoration: none;
  color: #717171;
}

a {
  font-size: 16px;
  font-family: var(--ff-sans-serif);
}/*# sourceMappingURL=style.css.map */