<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle del Post</title>
</head>
<body>
    <header>
        <img id="author-picture" class="d-none" alt="Author Picture">
      </header>
      <main>
        <div id="cards-main"></div>
      </main>
    
      <!-- Aside -->
      <aside>
        <div id="asideContainer"></div>
      </aside>
  <!-- Puedes incluir aquí cualquier otro contenido adicional que desees mostrar -->

  <script src="/js/main.js"></script>
</body>
</html>
